body{
 margin: 0;
 padding: 0;
 box-sizing: border-box ;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 .container{
    width: 100%;
    height: 100vh;
    background:#0f3854 ;
    background:radial-gradient(to right blue 10% ,pink 20%);
    color: #fff;
    text-align: center;
 }
 .container h2{
    font-weight: 300;
    font-size: 30px;
    padding-top: 50%;
    margin: 0%;
 }
 .font{
       font-size: 50px;
 }
 h1{
    margin: 0;
    padding: 0;
 }
 .clock{
 columns: #fff;
 padding: 30px 50px;
 position: absolute;
 top: 50%;
 left: 50%;
  transform: translate(-50%,-50%);
  text-shadow: 0 0 20px rgb(10, 175, 230,1),0 0 20px rgb(10, 175, 230,1);
 }